<section class="body">
  <div class="toolbar">
    <img src="../assets/images/logo-header.png"
         alt="Logo da marca FN Makeup"
         class="logo-toolbar">
  </div>

  <div class="content">
    <div class="container-bio-and-img-profile">
      <div class="container-img-profile">
        <img src="../assets/images/img-profile.png"
             alt="Imagem de perfil de Fernanda Nonnemacher"
             class="img-profile">
      </div>

      <p class="bio-content">
        Olá, sou Fernanda Nonnemacher<br>
        e este site é dedicado ao meu trabalho.
        Seguem aqui os links para você entrar em contato comigo.
      </p>
    </div>

    <div class="container-buttons-midias">
      <a class="midia-social"
         target="_blank"
         href="https://www.instagram.com/makeup_fernandanonnemacher/">Instagram</a>
      <a class="midia-social"
         target="_blank"
         href="https://wa.me/5551995172451">WhatsApp</a>
      <a class="midia-social"
         target="_blank"
         href="https://www.facebook.com/fernanda.nonnemacher">Facebook</a>
      <a class="midia-social"
         target="_blank"
         href="https://www.messenger.com/t/100014871221112">Messenger</a>
    </div>
  </div>

  <div class="footer">
    <p class="p-footer">
      <span class="strong">Design by</span>
      Gabriel Nonnemacher &#169;
    </p>
  </div>
</section>